@using Microsoft.AspNet.Identity
@*@model IEnumerable<Cashflow.Models.Flujo>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div style="padding-left: 0px; padding-right: 0px" class="col-md-12">
        <h1 class="pull-left">Ingresos</h1>

                <h1 class="pull-right">@Html.ActionLink("Nuevo", "New", "Ingresos", null, new { @class = "" })</h1>
    </div>
</div>

<div style="margin-bottom: 30px" class="row">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Tipo
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Pensiones", "Index", "Pensiones")</li>
            <li>@Html.ActionLink("Otros", "Index", "Ingresos")</li>
        </ul>
    </div>
</div>

<div class="row">
    <table id="ingresos" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Periodo</th>
            <th>Miembro</th>
            <th>Eliminar</th>
        </tr>
    
        </thead>
    
        <tbody>
@*        @foreach (var ingreso in Model)*@
@*        {*@
@*            <tr>*@
@*                <td>@Html.ActionLink(ingreso.Nombre, "Edit", "Ingresos", new {id = ingreso.Id}, null)</td>*@
@*                <td><strong>S/ </strong>@ingreso.Monto</td>*@
@*                <td>@ingreso.Periodo.Nombre</td>*@
@*                <td>*@
@*                    <a href="#" data-ingreso-id="@ingreso.Id" class="js-delete">Eliminar</a>*@
@*                </td>*@
@*            </tr>*@
@*        }*@
        </tbody>
    </table>
</div>
@section scripts
{
    <script>

        $(document).ready(function() {

            var table = $('#ingresos').DataTable({
                language: language_spanish,
                ajax: {
                    url: "/api/ingresos/user02/" + "@User.Identity.GetUserId()",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "nombre",
                        render: function(data, type, ingreso) {
                            return "<a href='/ingresos/edit/" + ingreso.id + "'>" + ingreso.nombre + "</a>";
                        }
                    },
                    {
                        data: "monto"
                    },
                    {
                        data: "periodo.nombre"
                    },
                    {
                        data: "miembroNombre"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<a href='#' data-ingreso-id='" + data + "' class='js-delete'>Eliminar</a>";
                        }

                    }
                ]
            });


            $('#ingresos').on("click",
                '.js-delete',
                function() {
                    var anchor = $(this);

                    bootbox.confirm("¿Seguro que quieres eliminar este ingreso?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/ingresos/" + anchor.attr("data-ingreso-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(anchor.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}



